<div>

    <!--<div class="block">-->
        <!--<div class="number" ng-class="{locked: number.locked, selected: index==$index}" ng-repeat="number in currentPuzzle track by $index">{{number.number}}</div>-->
    <!--</div>-->

    <div class="block">
        <div class="column" data-ng-repeat="row in currentPuzzle">
            <div class="number" ng-class="{locked: col.locked, selected: index[0]==$index && index[1]==$parent.$index, error: error[0]==$index && error[1]==$parent.$index }" data-ng-repeat="col in row">{{col.number}}</div>
        </div>
    </div>


</div>
You solved it? {{result}}

